/* large device start */
@media (min-width:992px) and (max-width:1199.98px){
    #banner {
        height: 680px;
    }
    #banner .banner_content h3 {
        font-size: 27px;
    }
    #banner .banner_content h1 {
        font-size: 55px;
        letter-spacing: 22px;
    }
    #about {
        padding: 70px 0;
    }
    #about .about_item_container {
        margin-top: 30px;
    }
    #about .about_item {
        padding: 40px;
    }
    #service {
        padding: 50px 0;
    }
    #service {
        margin: 15px 0;
    }
    #mywork .mywork_item .overlay {
        padding: 0 0;
    }
    #contact {
        padding-top: 60px;
    }
}
/* large device end */

/* medium device start */
@media (min-width:768px) and (max-width:991.98px){
    #banner {
        height: 600px;
    }
    #banner .banner_content h3 {
        font-size: 25px;
    }
    #banner .banner_content h1 {
        font-size: 52px;
        letter-spacing: 22px;
    }
    #banner .banner_content img {
        margin: 31px auto;
    }
    #banner .banner_content a {
        font-size: 14px;
        padding: 13px 13px;
        color: #0b1016;
    }
    #about {
        padding: 55px 0;
    }
    #about .about_item:nth-child(2n){
        border:none; 
    }
    #service {
        margin: 30px 0;
        background:#f0f0e8;
    }
    #service .service_item{
        margin: none;
    }
    .section_info h2 {
        text-align: left;
    }
    #mywork h2{
        text-align: center;
    }
}
/* medium device end */


/* small device start */
@media (min-width:576px) and (max-width:767.98px){
    #banner {
        height: 500px;
    }
    #banner .banner_content h1 {
        font-size: 30px;
        letter-spacing: 12px;
        margin-bottom: 22px;
    }
    #banner .banner_content img {
        margin: 25px auto;
    }
    #banner .banner_content h3 {
        font-size: 20px;
    }
    #banner .banner_content a {
    font-size: 10px;
    font-weight: 400;
    padding: 12px 25px;

    }
    #about .about_item:nth-child(2n){
    border:none; 
    }
    #service {
        margin: 30px 0;
        background:#f0f0e8;
    }



}
/* small device end */


/* Extra small device start */
@media (max-width:575.98px){
    #banner {
        height: 400px;
    }
    #banner .banner_content h1 {
        font-size: 22px;
        letter-spacing: 3px;
        margin-bottom: 22px;
    }
    #banner .banner_content img {
        margin: 25px auto;
    }
    #banner .banner_content h3 {
        font-size: 20px;
    }
    #banner .banner_content a {
    font-size: 10px;
    font-weight: 400;
    padding: 12px 25px;
    }
}
/* Extra small device end */